* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    overflow: hidden;
}

html {
    background-color: hsl(185, 75%, 39%);
}

.wrapper {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 380px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card .card_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_header {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top_font {
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    width: 350px;
}


.wrap_img_top{
    position: absolute;
    /* height: 800px; */
    z-index: 2;
    bottom: 350px;
    left: -150px;
}

.wrap_img_bottom {
    position: absolute;
    top: 460px;
    bottom: 20px;
    right: -100px;
    z-index: 2;
}   


.card_avatar {
    border: 4px solid white;
    border-radius: 50px;
    margin-top: -50px;
}

.card_bottom {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}
